<div class="row justify-content-center mt-5 px-3">
  <div class="col-md-10 d-grid gap-3">
    <h1 class="fs-2 text-center mb-4">Lista de Hóspedes Cadastrados</h1>

    <div class="d-flex justify-content-start mb-3">
      <button class ="btn btn-primary"
        routerLink="/hospedes/inserir"
        mat-raised-button
        color="primary"
        class="d-flex align-items-center gap-2"
      >
        <mat-icon>person_add</mat-icon>
        Novo Hóspede
      </button>
    </div>

    <div class="table-wrapper">
      <table class="custom-table">
        <thead>
          <tr>
            <th>NOME</th>
            <th>CPF</th>
            <th>E-MAIL</th>
            <th>TELEFONE</th>
            <th>AÇÕES</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let hospede of hospedes$ | async">
            <td>{{ hospede.name }}</td>
            <td>{{ hospede.cpf }}</td>
            <td>{{ hospede.email }}</td>
            <td>{{ hospede.phoneNumber }}</td>
            <td>
              <div class="action-buttons d-flex flex-wrap justify-content-center gap-2">
                <button
                  mat-stroked-button
                  color="accent"
                  routerLink="/hospedes/editar/{{ hospede.id }}"
                >
                  <mat-icon>edit</mat-icon>
                  Editar
                </button>

                <button
                  mat-stroked-button
                  color="warn"
                  routerLink="/hospedes/excluir/{{ hospede.id }}"
                >
                  <mat-icon>delete</mat-icon>
                  Excluir
                </button>
              </div>
            </td>
          </tr>

          <tr *ngIf="(hospedes$ | async)?.length === 0">
            <td colspan="5" class="text-center no-data">
              Nenhum hóspede cadastrado.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
