<div class="row justify-content-center mt-5" style="padding-left: 20px; padding-top: 20px">
  <div class="col-md-8 d-grid gap-3">
    <h1 class="fs-2 row justify-content-center">
      Lista de Hóspedes Cadastrados
    </h1>

    <button routerLink="/hospedes/inserir"
            mat-raised-button
            class="me-auto py-4 px-4 fs-8"
            color="primary">
      <mat-icon>add</mat-icon>
      Novo Hóspede
    </button>

    <div>
      <table>
        <thead>
          <tr>
            <th>NOME</th>
            <th>CPF</th>
            <th>E-MAIL</th>
            <th>TELEFONE</th>
            <th>AÇÕES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hospede of hospedes$ | async">
            <td>{{ hospede.name }}</td>
            <td>{{ hospede.cpf }}</td>
            <td>{{ hospede.email }}</td>
            <td>{{ hospede.phoneNumber }}</td>
            <td>
              <div class="d-flex align-items-center justify-content-center">
                <button mat-stroked-button
                        class="m-2"
                        routerLink="/hospedes/editar/{{hospede.id}}"
                        color="accent">
                  Editar
                </button>
                <button mat-stroked-button
                        class="m-2"
                        routerLink="/hospedes/excluir/{{hospede.id}}"
                        color="warn">
                  Excluir
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
