<div class="row justify-content-center mt-4 px-3">
  <form class="row g-3 mb-3" (ngSubmit)="filtrarPorPeriodo()">
    <div class="col-md-4 col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Data Inicial</mat-label>
        <input
          matInput
          [matDatepicker]="picker1"
          [(ngModel)]="dataInicial"
          name="dataInicial"
        />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-4 col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Data Final</mat-label>
        <input
          matInput
          [matDatepicker]="picker2"
          [(ngModel)]="dataFinal"
          name="dataFinal"
        />
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-2 d-flex align-items-end justify-content-center">
      <button mat-raised-button color="primary" type="submit" class="w-100">
        Filtrar
      </button>
    </div>
  </form>
</div>

<div class="container mt-4">
  <h1 class="text-center mb-4">Lista de Relatórios de Reservas</h1>

  <div class="table-wrapper">
    <table class="custom-table">
      <thead>
        <tr>
          <th>DATA ENTRADA</th>
          <th>DATA SAÍDA</th>
          <th>Nº CRIANÇAS</th>
          <th>Nº ADULTOS</th>
          <th>QUARTO</th>
          <th>HÓSPEDE</th>
          <th>VALOR RESERVA</th>
          <th>VALORES ADICIONAIS</th>
          <th>PAGAMENTO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservasFiltradas">
          <td>{{ reserva.checkIn }}</td>
          <td>{{ reserva.checkOut }}</td>
          <td>{{ reserva.numberOfChildren }}</td>
          <td>{{ reserva.numberOfAdults }}</td>
          <td>{{ reserva.roomName }}</td>
          <td>{{ reserva.guestName }}</td>
          <td>{{ reserva.reservationValue | currency:'BRL' }}</td>
          <td>{{ reserva.additionalValue | currency:'BRL' }}</td>
          <td>{{ reserva.payment }}</td>
        </tr>
        <tr *ngIf="reservasFiltradas.length === 0">
          <td colspan="9" class="text-center no-data">Nenhuma reserva encontrada.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="row justify-content-center mt-4 mb-5">
  <div class="col-auto">
    <button mat-stroked-button  class="m-2" (click)="gerarPDF()">
      Baixar PDF
    </button>
  </div>
  <div class="col-auto">
    <button mat-stroked-button class="m-2" (click)="gerarExcel()">
      Baixar Excel
    </button>
  </div>
</div>
