<div class="row justify-content-center align-items-center mt-5" style="padding-left: 20px; padding-top: 20px">
  <div class="col-md-5">
    <h1 class="fs-2">Inserir Novo Quarto</h1>

    <form [formGroup]="form!" (ngSubmit)="gravar()" class="d-grid mt-4">
      <mat-form-field  [style.min-width.px]="250" [style.width.%]="40" [style.display]="'block'" appearance="outline">
        <mat-label>NÚMERO:</mat-label>
        <input type="text" formControlName="number" matInput />
        <mat-error *ngIf="numberHasError()" >{{getNumberError()}}</mat-error>
      </mat-form-field>

      <mat-form-field  [style.min-width.px]="250" [style.width.%]="40" [style.display]="'block'" appearance="outline">
        <mat-label>ANDAR:</mat-label>
        <input type="text" formControlName="floor" matInput />
        <mat-error *ngIf="floorHasError()" >{{getFloorError()}}</mat-error>
      </mat-form-field>

      <mat-form-field  [style.min-width.px]="250" [style.width.%]="40" [style.display]="'block'" appearance="outline">
        <mat-label>DESCRIÇÃO:</mat-label>
        <input type="text" formControlName="description" matInput />
        <mat-error *ngIf="descriptionHasError()" >{{getDescriptionError()}}</mat-error>
      </mat-form-field>

      <mat-form-field  [style.min-width.px]="250" [style.width.%]="40" [style.display]="'block'" appearance="outline">
        <mat-label>CAPACIDADE:</mat-label>
        <input type="number" formControlName="capacity" matInput />
        <mat-error *ngIf="capacityHasError()" >{{getCapacityError()}}</mat-error>
      </mat-form-field>

      <div class="d-flex justify-content-end gap-2 mt-5">
        <button
          type="submit"
          class="py-3 px-5"
          color="primary"
          mat-raised-button
        >
          Salvar
        </button>
        <button
          routerLink="/quartos/listar"
          class="py-3 px-5 btn-spacing"
          color="warn"
          mat-stroked-button
        >
          Voltar
        </button>
      </div>
    </form>
  </div>
</div>


